
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #000;
    font-family: Helvetica, Arial;
    text-align: center;
    line-height: 1.4;
    font-size: 1.05em;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: 1.7em;
    font-weight: 500;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}



.wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

header {
    background-color: #eee;
}

header .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 1.5em;
    color: #000;
    font-weight: bold;
}

header .description {
    font-size: 1.2em;
    color: #000;
    padding-top: 5px;
}

nav {
    margin-top: 20px;
}

nav li {
    display: inline-block;
    margin: 0 7px;
    line-height: 1.5em;
}

nav li a.selected {
    text-decoration: underline;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.about {
    font-size: 4em;
}

h2 {
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
}

.description {
    margin-bottom: 40px;
}

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: #eee;
    margin-bottom: 20px;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 0;
}

.item-list .text {
    margin-bottom: 10px
}

.tag-list {
    margin-top: 15px;
}

.tag-list li,
.tag {
    display: inline-block;
    color: #ddd;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 0px;
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 40px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
    margin-bottom: 10px;
}

footer {
    color: #8a8a8a;
    padding: 20px;
}

footer .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

ol {
    padding-left: 30px
}

article .title {
    font-size: 2em;
    padding-bottom: 0px;
}

article .published {
    padding-top: 20px;
    padding-bottom: 20 px;
}

article .lineBreak {
    padding-bottom: 20px;
}


/*
 * This sets the color and style of code in back tics
 */
article p code, article li code, .discover .content code {
    background-color: #e2e2e2;
    display: inline-block;
    padding: 0 5px;
    border-radius: 8px;
    font-size: 1.3em;
    margin: 1px;
}

.appIcon {
    width: 60px;
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 17.544%;
    box-shadow: 0 0.1125em 0.1em rgba(0, 0, 0, 0.25);
}

/*.appIcon:Hover {*/
/*    width: 70px;*/
/*    height: 70px;*/
/*}*/



@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
    }

    body,
    header .site-name {
        color: #ddd;
    }

    header .description {
        color: #ddd
    }

    .item-list > li {
        background-color: #333;
    }

    header {
        background-color: #000;
    }

    article p code, article li code, .discover .content code, .related-content, .podcast .audio-box {
        background-color: #171717;
    }

    .appIcon {
        box-shadow: 0 0.1125em 0.1em rgba(255, 255, 255, 0.25);
    }

}

@media(max-width: 800px) {
    .wrapper {
        padding: 40px 20px;
    }
}



/*
 * Font Awesome
 */

.fa {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}

.fa-brands {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}



/*
 * SplashPublishPlugin Styles
 */
pre code {

    font-family: monospace;

    display: block;

    padding: 15px 20px;

    color: #a9bcbc;

    line-height: 1.4em;

    font-size: 1.2em;

    overflow-x: auto;

    white-space: pre;

    -webkit-overflow-scrolling: touch;

    border: 1px solid #666;

    border-radius: 12px;

    background-color: #1a1a1a;
}


pre code .keyword {

    color: #e73289;

}

pre code .type {

    color: #8281ca;

}

pre code .call {

    color: #348fe5;

}

pre code .property {

    color: #21ab9d;

}

pre code .number {

    color: #db6f57;

}

pre code .string {

    color: #fa641e;

}

pre code .comment {

    color: #6b8a94;

}

pre code .dotAccess {

    color: #92b300;

}

pre code .preprocessing {

    color: #b68a00;

}

pre code .highlight {
    display: inline-block;
    padding: 0 4px 2px 4px;
    border: 1px solid #546AFF;
    border-radius: 5px;
    background-color: #1A1721;
    margin-left: -5px;
}

pre code .highlight.shifted {
    margin-left: 0;
}



/*
 * Tag Colors
 */
.variant-0 {background-color: #66293c;}
.variant-1 {background-color: #913e37;}
.variant-2 {background-color: #ca7618;}
.variant-3 {background-color: #a38138;}
.variant-4 {background-color: #2f7176;}
.variant-5 {background-color: #246089;}
.variant-6 {background-color: #498840;}
.variant-7 {background-color: #484781;}
